body {
  background-color: #f3f3f3;
}

#header {
  margin-top: 0;
  border-radius: 0;
}

#footer {
  border-radius: 0;
}

.site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.rdtPicker {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

form .rdt input {
  width: 100%;
}

.text-center {
  text-align: center;
}

.ui.basic.button.no-hover {
  pointer-events: none;
}

.ui.basic.button.no-hover:hover {
  background-color: inherit !important;
  cursor: initial;
}