body {
  background-color: #f3f3f3;
}

.site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.rdtPicker {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

form .rdt input {
  width: 100%;
}